.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdown {
    margin-bottom: 20px;
  }
  
  .chart-wrapper {
    width: 25%; /* Make chart 1/4 of the screen */
    height: auto;
  }
  